/* LANDING PAGE */

#landingpage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#welcomeNote > div > h1{

    margin-top: 70px;
    margin-bottom: 0px;
    font-size: 50px;
    margin-left: 120px;
    font-weight: 100;
}

.top-row{
    margin-bottom: 0px;
}

.last-row{
    font-size: 50px;
    font-weight: 100;
    margin-left: 170px;
    margin-top: 0px;
}

#welcomeNote > div:nth-child(3){
    margin-top: 70px;
    margin-left: 250px;
    width: 300px;
}

#landingpage > div:nth-child(2){
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#landingpage > div:nth-child(2) > img{
    height: 570px;
    width: 410px;
    margin-right: 100px;
}

@media (max-width: 987px){

    #landingpage{
        flex-direction: column;
    }

}

.LPcontent{
    display: flex;
    flex-direction: column;
}

.img1{
    width: 40%;
    margin-bottom: -160px;
}

.img2 {
    width: 28%;
    margin-bottom: 160px;
}

.blackwhite{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
