#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
   font-size: 70px;
}

img{
    width: 100%;
}

.containerC{
    height: 60%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

img:hover {
    transform: scale(1.2);
    transform-style: ease;
} 

img {            
    transition: transform 0.5s ease; 
}
